{"swagger":"2.0","info":{"title":"Default title","description":"Custom connector for Teams management through MS Graph API","version":"1.0"},"host":"graph.microsoft.com","basePath":"/v1.0/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/teams/{TeamTemplateID}/clone":{"post":{"responses":{"default":{"description":"default","schema":{"type":"string"},"headers":{"Location":{"description":"Location","type":"string"},"Content-Type":{"description":"Content-Type","type":"string"},"Content-Length":{"description":"Content-Length","type":"integer"}}}},"summary":"Clone Team","description":"Clone an existing Team","operationId":"CloneTeam","parameters":[{"name":"TeamTemplateID","in":"path","required":true,"type":"string"},{"name":"Content-Type","in":"header","required":false,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"displayName":{"type":"string","description":"displayName"},"description":{"type":"string","description":"description"},"mailNickname":{"type":"string","description":"mailNickname"},"partsToClone":{"type":"string","description":"partsToClone"},"visibility":{"type":"string","description":"visibility"}}}}]}},"/v1.0{Location}":{},"/teams({TeamID})/operations({OperationID})":{},"/{Location}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"id":{"type":"string","description":"id"},"operationType":{"type":"string","description":"operationType"},"createdDateTime":{"type":"string","description":"createdDateTime"},"status":{"type":"string","description":"status"},"lastActionDateTime":{"type":"string","description":"lastActionDateTime"},"attemptsCount":{"type":"integer","format":"int32","description":"attemptsCount"},"targetResourceId":{"type":"string","description":"targetResourceId"},"targetResourceLocation":{"type":"string","description":"targetResourceLocation"},"Value":{"type":"string","description":"Value"},"error":{"type":"string","description":"error"}}},"headers":{"{":{"description":"{","type":"string"},"\"cache-control\":":{"description":"\"cache-control\":","type":"string"},"\"client-request-id\":":{"description":"\"client-request-id\":","type":"string"},"\"content-encoding\":":{"description":"\"content-encoding\":","type":"string"},"\"content-length\":":{"description":"\"content-length\":","type":"string"},"\"content-type\":":{"description":"\"content-type\":","type":"string"},"\"date\":":{"description":"\"date\":","type":"string"},"\"odata-version\":":{"description":"\"odata-version\":","type":"string"},"\"request-id\":":{"description":"\"request-id\":","type":"string"},"\"strict-transport-security\":":{"description":"\"strict-transport-security\":","type":"string"},"\"vary\":":{"description":"\"vary\":","type":"string"},"\"x-ms-ags-diagnostic\":":{"description":"\"x-ms-ags-diagnostic\":","type":"string"},"}":{"description":"}","type":"string"}}}},"summary":"Get Team Operation Status","description":"Get Team Operation Status","operationId":"GetTeamOperationStatus","parameters":[{"name":"Location","in":"path","required":true,"type":"string"}]}},"/groups":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"id":{"type":"string","description":"id"},"deletedDateTime":{"type":"string","description":"deletedDateTime"},"classification":{"type":"string","description":"classification"},"createdDateTime":{"type":"string","description":"createdDateTime"},"creationOptions":{"type":"array","items":{},"description":"creationOptions"},"description":{"type":"string","description":"description"},"displayName":{"type":"string","description":"displayName"},"groupTypes":{"type":"array","items":{"type":"string"},"description":"groupTypes"},"isAssignableToRole":{"type":"string","description":"isAssignableToRole"},"mail":{"type":"string","description":"mail"},"mailEnabled":{"type":"boolean","description":"mailEnabled"},"mailNickname":{"type":"string","description":"mailNickname"},"onPremisesDomainName":{"type":"string","description":"onPremisesDomainName"},"onPremisesLastSyncDateTime":{"type":"string","description":"onPremisesLastSyncDateTime"},"onPremisesNetBiosName":{"type":"string","description":"onPremisesNetBiosName"},"onPremisesSamAccountName":{"type":"string","description":"onPremisesSamAccountName"},"onPremisesSecurityIdentifier":{"type":"string","description":"onPremisesSecurityIdentifier"},"onPremisesSyncEnabled":{"type":"string","description":"onPremisesSyncEnabled"},"preferredDataLocation":{"type":"string","description":"preferredDataLocation"},"proxyAddresses":{"type":"array","items":{"type":"string"},"description":"proxyAddresses"},"renewedDateTime":{"type":"string","description":"renewedDateTime"},"resourceBehaviorOptions":{"type":"array","items":{},"description":"resourceBehaviorOptions"},"resourceProvisioningOptions":{"type":"array","items":{},"description":"resourceProvisioningOptions"},"securityEnabled":{"type":"boolean","description":"securityEnabled"},"securityIdentifier":{"type":"string","description":"securityIdentifier"},"visibility":{"type":"string","description":"visibility"},"onPremisesProvisioningErrors":{"type":"array","items":{},"description":"onPremisesProvisioningErrors"}}},"headers":{"cache-control":{"description":"cache-control","type":"string"},"client-request-id":{"description":"client-request-id","type":"string"},"content-length":{"description":"content-length","type":"integer"},"content-type":{"description":"content-type","type":"string"},"location":{"description":"location","type":"string"},"request-id":{"description":"request-id","type":"string"}}}},"summary":"Create Group","description":"Create a Group","operationId":"CreateGroup","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"displayName":{"type":"string","description":"displayName"},"mailNickname":{"type":"string","description":"mailNickname"},"description":{"type":"string","description":"description"},"visibility":{"type":"string","description":"visibility"},"groupTypes":{"type":"array","items":{"type":"string","title":"","default":"Unified"},"description":"groupTypes"},"mailEnabled":{"type":"boolean","description":"mailEnabled","title":"","enum":["",true,false],"default":true},"securityEnabled":{"type":"boolean","description":"securityEnabled","title":"","enum":["",true,false],"default":false},"members@odata.bind":{"type":"array","items":{"type":"string"},"description":"members@odata.bind"},"owners@odata.bind":{"type":"array","items":{"type":"string"},"description":"owners@odata.bind"}}}}]}},"/groups/{GroupID}/team":{"put":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"memberSettings":{"type":"object","properties":{"allowCreateUpdateChannels":{"type":"boolean","description":"allowCreateUpdateChannels"},"allowDeleteChannels":{"type":"boolean","description":"allowDeleteChannels"},"allowAddRemoveApps":{"type":"boolean","description":"allowAddRemoveApps"},"allowCreateUpdateRemoveTabs":{"type":"boolean","description":"allowCreateUpdateRemoveTabs"},"allowCreateUpdateRemoveConnectors":{"type":"boolean","description":"allowCreateUpdateRemoveConnectors"}},"description":"memberSettings"},"guestSettings":{"type":"object","properties":{"allowCreateUpdateChannels":{"type":"boolean","description":"allowCreateUpdateChannels"},"allowDeleteChannels":{"type":"boolean","description":"allowDeleteChannels"}},"description":"guestSettings"},"messagingSettings":{"type":"object","properties":{"allowUserEditMessages":{"type":"boolean","description":"allowUserEditMessages"},"allowUserDeleteMessages":{"type":"boolean","description":"allowUserDeleteMessages"},"allowOwnerDeleteMessages":{"type":"boolean","description":"allowOwnerDeleteMessages"},"allowTeamMentions":{"type":"boolean","description":"allowTeamMentions"},"allowChannelMentions":{"type":"boolean","description":"allowChannelMentions"}},"description":"messagingSettings"},"funSettings":{"type":"object","properties":{"allowGiphy":{"type":"boolean","description":"allowGiphy"},"giphyContentRating":{"type":"string","description":"giphyContentRating"},"allowStickersAndMemes":{"type":"boolean","description":"allowStickersAndMemes"},"allowCustomMemes":{"type":"boolean","description":"allowCustomMemes"}},"description":"funSettings"}}}}},"summary":"Add Team To Office 365 Group","description":"Add a Team to an existing Office 365 Group","operationId":"AddTeamToOffice365Group","parameters":[{"name":"GroupID","in":"path","required":true,"type":"string"},{"name":"Content-type","in":"header","required":false,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"memberSettings":{"type":"object","properties":{"allowCreateUpdateChannels":{"type":"boolean","description":"allowCreateUpdateChannels"}},"description":"memberSettings"},"messagingSettings":{"type":"object","properties":{"allowUserEditMessages":{"type":"boolean","description":"allowUserEditMessages"},"allowUserDeleteMessages":{"type":"boolean","description":"allowUserDeleteMessages"}},"description":"messagingSettings"},"funSettings":{"type":"object","properties":{"allowGiphy":{"type":"boolean","description":"allowGiphy"},"giphyContentRating":{"type":"string","description":"giphyContentRating"}},"description":"funSettings"}}}}]}},"/groups/{GroupID}/owners/$ref":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Add Owner To Group","description":"Add an Owner to an existing Group","operationId":"AddOwnerToGroup","parameters":[{"name":"GroupID","in":"path","required":true,"type":"string"},{"name":"Content-type","in":"header","required":false,"type":"string"},{"name":"Content-length","in":"header","required":false,"type":"integer"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"@odata.id":{"type":"string","description":"@odata.id","title":"","default":"https://graph.microsoft.com/v1.0/users/{UserID}"}}}}]}},"/groups/{GroupID}/members/$ref":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Add Member To Group","description":"Add a Member to an existing Group","operationId":"AddMemberToGroup","parameters":[{"name":"GroupID","in":"path","required":true,"type":"string"},{"name":"Content-type","in":"header","required":false,"type":"string"},{"name":"Content-length","in":"header","required":false,"type":"integer"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"@odata.id":{"type":"string","description":"@odata.id","title":"","default":"https://graph.microsoft.com/v1.0/directoryObjects/{UserID}"}}}}]}},"/users/{User}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"businessPhones":{"type":"array","items":{"type":"string"},"description":"businessPhones"},"displayName":{"type":"string","description":"displayName"},"givenName":{"type":"string","description":"givenName"},"jobTitle":{"type":"string","description":"jobTitle"},"mail":{"type":"string","description":"mail"},"mobilePhone":{"type":"string","description":"mobilePhone"},"officeLocation":{"type":"string","description":"officeLocation"},"preferredLanguage":{"type":"string","description":"preferredLanguage"},"surname":{"type":"string","description":"surname"},"userPrincipalName":{"type":"string","description":"userPrincipalName"},"id":{"type":"string","description":"id"}}}}},"summary":"Get User Details","description":"Get User Details with ID or User Principal Name","operationId":"GetUserDetails","parameters":[{"name":"User","in":"path","required":true,"type":"string"}]}},"/me/":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"businessPhones":{"type":"array","items":{"type":"string"},"description":"businessPhones"},"displayName":{"type":"string","description":"displayName"},"givenName":{"type":"string","description":"givenName"},"jobTitle":{"type":"string","description":"jobTitle"},"mail":{"type":"string","description":"mail"},"mobilePhone":{"type":"string","description":"mobilePhone"},"officeLocation":{"type":"string","description":"officeLocation"},"preferredLanguage":{"type":"string","description":"preferredLanguage"},"surname":{"type":"string","description":"surname"},"userPrincipalName":{"type":"string","description":"userPrincipalName"},"id":{"type":"string","description":"id"}}}}},"summary":"Get Current User Details","description":"Get Current User Details","operationId":"GetCurrentUserDetails","parameters":[]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"undefined":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"undefined":[]}],"tags":[]}