{"swagger":"2.0","info":{"title":"Default title","description":"Custom connector for Teams management through the beta version of the MS Graph API","version":"1.0"},"host":"graph.microsoft.com","basePath":"/beta/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/teams":{"post":{"responses":{"default":{"description":"default","schema":{},"headers":{"Content-Type":{"description":"Content-Type","type":"string"},"Location":{"description":"Location","type":"string"},"Content-Location":{"description":"Content-Location","type":"string"}}}},"summary":"Create Team","description":"Create a new Team directly","operationId":"CreateTeam","parameters":[{"name":"Content-Type","in":"header","required":false,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"template@odata.bind":{"type":"string","description":"template@odata.bind","title":"","default":"https://graph.microsoft.com/beta/teamsTemplates('standard')"},"visibility":{"type":"string","description":"visibility"},"displayName":{"type":"string","description":"displayName"},"description":{"type":"string","description":"description"},"owners@odata.bind":{"type":"array","items":{"type":"string"},"description":"owners@odata.bind"},"channels":{"type":"array","items":{"type":"object","properties":{"displayName":{"type":"string","description":"displayName"},"isFavoriteByDefault":{"type":"boolean","description":"isFavoriteByDefault"},"description":{"type":"string","description":"description"},"tabs":{"type":"array","items":{"type":"object","properties":{"teamsApp@odata.bind":{"type":"string","description":"teamsApp@odata.bind"},"name":{"type":"string","description":"name"},"configuration":{"type":"object","properties":{"contentUrl":{"type":"string","description":"contentUrl"},"websiteUrl":{"type":"string","description":"websiteUrl"}},"description":"configuration"}}},"description":"tabs"}}},"description":"channels"},"memberSettings":{"type":"object","properties":{"allowCreateUpdateChannels":{"type":"boolean","description":"allowCreateUpdateChannels"},"allowDeleteChannels":{"type":"boolean","description":"allowDeleteChannels"},"allowAddRemoveApps":{"type":"boolean","description":"allowAddRemoveApps"},"allowCreateUpdateRemoveTabs":{"type":"boolean","description":"allowCreateUpdateRemoveTabs"},"allowCreateUpdateRemoveConnectors":{"type":"boolean","description":"allowCreateUpdateRemoveConnectors"}},"description":"memberSettings"},"guestSettings":{"type":"object","properties":{"allowCreateUpdateChannels":{"type":"boolean","description":"allowCreateUpdateChannels"},"allowDeleteChannels":{"type":"boolean","description":"allowDeleteChannels"}},"description":"guestSettings"},"funSettings":{"type":"object","properties":{"allowGiphy":{"type":"boolean","description":"allowGiphy"},"giphyContentRating":{"type":"string","description":"giphyContentRating"},"allowStickersAndMemes":{"type":"boolean","description":"allowStickersAndMemes"},"allowCustomMemes":{"type":"boolean","description":"allowCustomMemes"}},"description":"funSettings"},"messagingSettings":{"type":"object","properties":{"allowUserEditMessages":{"type":"boolean","description":"allowUserEditMessages"},"allowUserDeleteMessages":{"type":"boolean","description":"allowUserDeleteMessages"},"allowOwnerDeleteMessages":{"type":"boolean","description":"allowOwnerDeleteMessages"},"allowTeamMentions":{"type":"boolean","description":"allowTeamMentions"},"allowChannelMentions":{"type":"boolean","description":"allowChannelMentions"}},"description":"messagingSettings"},"discoverySettings":{"type":"object","properties":{"showInTeamsSearchAndSuggestions":{"type":"boolean","description":"showInTeamsSearchAndSuggestions"}},"description":"discoverySettings"},"installedApps":{"type":"array","items":{"type":"object","properties":{"teamsApp@odata.bind":{"type":"string","description":"teamsApp@odata.bind"}}},"description":"installedApps"}}}}]}},"/{Location}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"operationType":{"type":"string","description":"operationType"},"createdDateTime":{"type":"string","description":"createdDateTime"},"status":{"type":"string","description":"status"},"lastActionDateTime":{"type":"string","description":"lastActionDateTime"},"attemptsCount":{"type":"integer","format":"int32","description":"attemptsCount"},"targetResourceId":{"type":"string","description":"targetResourceId"},"targetResourceLocation":{"type":"string","description":"targetResourceLocation"},"error":{"type":"string","description":"error"}}}}},"summary":"Get Team Operation Status","description":"Get Team Operation Status","operationId":"GetTeamOperationStatus","parameters":[{"name":"Location","in":"path","required":true,"type":"string"}]}},"/groups/{GroupID}/owners/$ref":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Add Owner To Group","description":"Add an Owner to an existing Group","operationId":"AddOwnerToGroup","parameters":[{"name":"GroupID","in":"path","required":true,"type":"string"},{"name":"Content-type","in":"header","required":false,"type":"string"},{"name":"Content-length","in":"header","required":false,"type":"integer"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"@odata.id":{"type":"string","description":"@odata.id","title":"","default":"https://graph.microsoft.com/beta/users/{UserID}"}}}}]}},"/groups/{GroupID}/members/$ref":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Add Member To Group","description":"Add a Member to an existing Group","operationId":"AddMemberToGroup","parameters":[{"name":"GroupID","in":"path","required":true,"type":"string"},{"name":"Content-type","in":"header","required":false,"type":"string"},{"name":"Content-length","in":"header","required":false,"type":"integer"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"@odata.id":{"type":"string","description":"@odata.id","title":"","default":"https://graph.microsoft.com/beta/directoryObjects/{UserID}"}}}}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"undefined":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"undefined":[]}],"tags":[]}